@media only screen and (max-width: 699px) and (-webkit-min-device-pixel-ratio: 1) {
  .hero-section {
    margin-top: 2em;
  }
  #tab {
    width: 3em;
  }
  #movies-select {
    margin-left: 3em;
  }
  #movie-cards {
    justify-content: flex-start;
  }
  #movie-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* place-items: center; */
    padding: 5px;
    gap: 30px 20px;
    top: 3em;
  }
  .card {
    height: 13em;
  }
  .card img {
    width: 100%;
  }
  .card h3 {
    font-size: 12px;
  }
  .other-info {
    font-size: 16px;
  }
  .textonbg {
    background: url(/assets/cover.jpg);
    height: 20em;
  }
  .marks {
    font-size: 10px;
  }
  .cast-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    justify-content: center;
    gap: 20px 10px;
    padding: 0.5em;
  }
  .cast-card img {
    width: 100%;
  }
  #expand {
    font-size: 12px;
    width: 10%;
  }
  #searchBox {
    height: 1.5rem;
    border-radius: 5px;
  }
  .nav-list ul {
    margin-left: 30px;
    font-size: 15px;
  }
  .genre-name {
    width: 92%;
  }
}
@media only screen and (max-width: 399px) {
  #movie-cards {
    display: grid;
    padding: 15px;
    gap: 30px 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    height: 14em;
  }
  .cast-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
